header h1 , h6{
	font-weight: bold;
}

.end_of_header {
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
}

header h1 a{
    color: gray;
    text-decoration: none;
}

header h6{
	color: gray;
}

header h1 :hover{
	text-decoration: none;
	color: #595959;	
}

h1, h6 {
	display: inline;
}


